# Grouping Data & Aggregating Variables
## Contents:

In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#import data frame

orders_prods_merge = pd.read_pickle (r"C:\Users\thoms\Desktop\Data Analytics\Achievement 4\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl")

In [3]:
path = r'C:\Users\thoms\Desktop\Data Analytics\Achievement 4\Instacart Basket Analysis'

In [4]:
#checking dataframe

orders_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest_day,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders

In [5]:
#checking dataframe

orders_prods_merge.shape

(32404859, 19)

# Question 2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
#grouping department id with order number

orders_prods_merge.groupby('department_id')

In [7]:
orders_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [8]:
#Checking mean,min and max of the dataframe of department id

orders_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              15.457838   1  99
2.0              17.277920   1  99
3.0              17.170395   1  99
4.0              17.811403   1  99
5.0              15.215751   1  99
6.0              16.439806   1  99
7.0              17.225802   1  99
8.0              15.340650   1  99
9.0              15.895474   1  99
10.0             20.197148   1  99
11.0             16.170638   1  99
12.0             15.887671   1  99
13.0             16.583536   1  99
14.0             16.773669   1  99
15.0             16.165037   1  99
16.0             17.665606   1  99
17.0             15.694469   1  99
18.0             19.310397   1  99
19.0             17.177343   1  99
20.0             16.473447   1  99
21.0             22.902379   1  99

In [10]:
# Transform dataframe for max order

orders_prods_merge['max_order'] = orders_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
#checking data

orders_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
5,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
6,2398795,1,prior,2,3,7,15.0,10258.0,2.0,0.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
7,2398795,1,prior,2,3,7,15.0,12427.0,3.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
8,2398795,1,prior,2,3,7,15.0,13176.0,4.0,0.0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
9,2398795,1,prior,2,3,7,15.0,26088.0,5.0,1.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
10,2398795,1,prior,2,3,7,15.0,13032.0,6.0,0.0,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
11,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
12,473747,1,prior,3,3,12,21.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
13,473747,1,prior,3,3,12,21.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
14,473747,1,prior,3,3,12,21.0,25133.0,4.0,0.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
15,473747,1,prior,3,3,12,21.0,30450.0,5.0,0.0,Creamy Almond Butter,88.0,13.0,3.2,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
16,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
17,2254736,1,prior,4,4,7,29.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Most_orders,10
18,2254736,1,prior,4,4,7,29.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
19,2254736,1,prior,4,4,7,29.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Most_orders,10

In [12]:
#sorting data in accending user_id values

orders_prods_merge.sort_values("user_id")

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
32,3367565,1,prior,6,2,7,19.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,10
33,550135,1,prior,7,1,9,20.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,10
34,550135,1,prior,7,1,9,20.0,10258.0,2.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Average_orders,10
35,550135,1,prior,7,1,9,20.0,12427.0,3.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Average_orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32641173,1542354,206209,prior,3,5,11,30.0,23892.0,14.0,0.0,Original High Efficiency Liquid Laundry Detergent,75.0,17.0,9.1,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,13
32641172,1542354,206209,prior,3,5,11,30.0,37654.0,13.0,0.0,Butter with Canola Oil Spread,36.0,16.0,12.6,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,13
32641171,1542354,206209,prior,3,5,11,30.0,26634.0,12.0,0.0,"Cookies, Chocolate Chip Walnut",61.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Most_orders,13
32641169,1542354,206209,prior,3,5,11,30.0,10070.0,10.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,13
32641266,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,Roasted & Salted Shelled Pistachios,117.0,19.0,1.7,both,Low-range product,Regularly busy,Busiest_days,Most_orders,13

In [13]:
# allowing no restrictions to data disply

pd.options.display.max_rows = None

In [14]:
#displaying 100 rows of data

orders_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,10
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,10
5,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
6,2398795,1,prior,2,3,7,15.0,10258.0,2.0,0.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
7,2398795,1,prior,2,3,7,15.0,12427.0,3.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
8,2398795,1,prior,2,3,7,15.0,13176.0,4.0,0.0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
9,2398795,1,prior,2,3,7,15.0,26088.0,5.0,1.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
10,2398795,1,prior,2,3,7,15.0,13032.0,6.0,0.0,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
11,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
12,473747,1,prior,3,3,12,21.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
13,473747,1,prior,3,3,12,21.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
14,473747,1,prior,3,3,12,21.0,25133.0,4.0,0.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,10
15,473747,1,prior,3,3,12,21.0,30450.0,5.0,0.0,Creamy Almond Butter,88.0,13.0,3.2,both,Low-range product,Regularly busy,Slowest_days,Most_orders,10
16,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
17,2254736,1,prior,4,4,7,29.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Most_orders,10
18,2254736,1,prior,4,4,7,29.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
19,2254736,1,prior,4,4,7,29.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
20,2254736,1,prior,4,4,7,29.0,26405.0,5.0,1.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
21,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
22,431534,1,prior,5,4,15,28.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Most_orders,10
23,431534,1,prior,5,4,15,28.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
24,431534,1,prior,5,4,15,28.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
25,431534,1,prior,5,4,15,28.0,10326.0,5.0,0.0,Organic Fuji Apples,24.0,4.0,2.7,both,Low-range product,Least busy,Slowest_days,Most_orders,10
26,431534,1,prior,5,4,15,28.0,17122.0,6.0,0.0,Honeycrisp Apples,24.0,4.0,14.0,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
27,431534,1,prior,5,4,15,28.0,41787.0,7.0,0.0,Bartlett Pears,24.0,4.0,5.0,both,Low-range product,Least busy,Slowest_days,Most_orders,10
28,431534,1,prior,5,4,15,28.0,13176.0,8.0,1.0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Least busy,Slowest_days,Most_orders,10
29,3367565,1,prior,6,2,7,19.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,10
30,3367565,1,prior,6,2,7,19.0,12427.0,2.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Most_orders,10
31,3367565,1,prior,6,2,7,19.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,10
32,3367565,1,prior,6,2,7,19.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,10
33,550135,1,prior,7,1,9,20.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,10
34,550135,1,prior,7,1,9,20.0,10258.0,2.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Average_orders,10
35,550135,1,prior,7,1,9,20.0,12427.0,3.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Average_orders,10
36,550135,1,prior,7,1,9,20.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Average_orders,10
37,550135,1,prior,7,1,9,20.0,13032.0,5.0,1.0,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Busiest_days,Average_orders,10
38,3108588,1,prior,8,1,14,14.0,12427.0,1.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
39,3108588,1,prior,8,1,14,14.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
40,3108588,1,prior,8,1,14,14.0,10258.0,3.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
41,3108588,1,prior,8,1,14,14.0,25133.0,4.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
42,3108588,1,prior,8,1,14,14.0,46149.0,5.0,0.0,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
43,3108588,1,prior,8,1,14,14.0,49235.0,6.0,0.0,Organic Half & Half,53.0,16.0,1.8,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
44,2295261,1,prior,9,1,16,0.0,49235.0,1.0,1.0,Organic Half & Half,53.0,16.0,1.8,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
45,2295261,1,prior,9,1,16,0.0,46149.0,2.0,1.0,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
46,2295261,1,prior,9,1,16,0.0,25133.0,3.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
47,2295261,1,prior,9,1,16,0.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,10
48,2295261,1,prior,9,1,16,0.0,10258.0,5.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
49,2295261,1,prior,9,1,16,0.0,12427.0,6.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Busiest_days,Most_orders,10
50,2550362,1,prior,10,4,8,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
51,2550362,1,prior,10,4,8,30.0,46149.0,2.0,1.0,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
52,2550362,1,prior,10,4,8,30.0,39657.0,3.0,0.0,Milk Chocolate Almonds,45.0,19.0,6.8,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
53,2550362,1,prior,10,4,8,30.0,38928.0,4.0,0.0,0% Greek Strained Yogurt,120.0,16.0,12.6,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
54,2550362,1,prior,10,4,8,30.0,25133.0,5.0,1.0,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Least busy,Slowest_days,Average_orders,10
55,2550362,1,prior,10,4,8,30.0,10258.0,6.0,1.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Least busy,Slowest_days,Average_orders,10
56,2550362,1,prior,10,4,8,30.0,35951.0,7.0,0.0,Organic Unsweetened Almond Milk,91.0,16.0,1.3,both,Low-range product,Least busy,Slowest_days,Average_orders,10
57,2550362,1,prior,10,4,8,30.0,13032.0,8.0,1.0,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Least busy,Slowest_days,Average_orders,10
58,2550362,1,prior,10,4,8,30.0,12427.0,9.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Least busy,Slowest_days,Average_orders,10
60,2168274,2,prior,1,2,11,NaN,32792.0,1.0,0.0,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
61,2168274,2,prior,1,2,11,NaN,47766.0,2.0,0.0,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
62,2168274,2,prior,1,2,11,NaN,20574.0,3.0,0.0,Roasted Turkey,96.0,20.0,2.3,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
63,2168274,2,prior,1,2,11,NaN,12000.0,4.0,0.0,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
64,2168274,2,prior,1,2,11,NaN,48110.0,5.0,0.0,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
65,2168274,2,prior,1,2,11,NaN,22474.0,6.0,0.0,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
66,2168274,2,prior,1,2,11,NaN,16589.0,7.0,0.0,Plantain Chips,107.0,19.0,5.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
67,2168274,2,prior,1,2,11,NaN,35917.0,8.0,0.0,Organic Just Concord Grape Juice,98.0,7.0,9.4,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
68,2168274,2,prior,1,2,11,NaN,27344.0,9.0,0.0,Uncured Genoa Salami,96.0,20.0,14.8,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
69,2168274,2,prior,1,2,11,NaN,30489.0,10.0,0.0,Original Hummus,67.0,20.0,7.5,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
70,2168274,2,prior,1,2,11,NaN,27966.0,11.0,0.0,Organic Raspberries,123.0,4.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
71,2168274,2,prior,1,2,11,NaN,13176.0,12.0,0.0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
72,2168274,2,prior,1,2,11,NaN,45066.0,13.0,0.0,Honeycrisp Apple,24.0,4.0,2.5,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
73,1501582,2,prior,2,5,10,10.0,16797.0,1.0,0.0,Strawberries,24.0,4.0,1.3,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
74,1501582,2,prior,2,5,10,10.0,47526.0,2.0,0.0,Goat Cheese Log,21.0,16.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
75,1501582,2,prior,2,5,10,10.0,8479.0,3.0,0.0,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
76,1501582,2,prior,2,5,10,10.0,47766.0,4.0,1.0,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
77,1501582,2,prior,2,5,10,10.0,19051.0,5.0,0.0,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
78,1501582,2,prior,2,5,10,10.0,8138.0,6.0,0.0,Traditional Hummus,67.0,20.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
79,1901567,2,prior,3,1,10,3.0,47766.0,1.0,1.0,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,14
80,1901567,2,prior,3,1,10,3.0,32792.0,2.0,1.0,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,14
81,1901567,2,prior,3,1,10,3.0,20574.0,3.0,1.0,Roasted Turkey,96.0,20.0,2.3,both,Low-range product,Regularly busy,Busiest_days,Most_orders,14
82,1901567,2,prior,3,1,10,3.0,7781.0,4.0,0.0,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,14
83,1901567,2,prior,3,1,10,3.0,28874.0,5.0,0.0,Carrot Ginger Soup,1.0,20.0,6.2,both,Mid-range product,Regularly busy,Busiest_days,Most_orders,14
84,738281,2,prior,4,2,10,8.0,49451.0,1.0,0.0,Artichoke Spinach Dip,67.0,20.0,7.1,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
85,738281,2,prior,4,2,10,8.0,32792.0,2.0,1.0,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
86,738281,2,prior,4,2,10,8.0,32139.0,3.0,0.0,Hommus Classic Original,67.0,20.0,7.5,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
87,738281,2,prior,4,2,10,8.0,34688.0,4.0,0.0,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
88,738281,2,prior,4,2,10,8.0,36735.0,5.0,0.0,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
89,738281,2,prior,4,2,10,8.0,37646.0,6.0,0.0,Organic Gala Apples,24.0,4.0,9.1,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
90,738281,2,prior,4,2,10,8.0,22829.0,7.0,0.0,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
91,738281,2,prior,4,2,10,8.0,24852.0,8.0,0.0,Banana,24.0,4.0,12.3,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
92,738281,2,prior,4,2,10,8.0,47209.0,9.0,0.0,Organic Hass Avocado,24.0,4.0,4.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
93,738281,2,prior,4,2,10,8.0,33276.0,10.0,0.0,Kalamata Olive Spread,67.0,20.0,10.8,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
94,738281,2,prior,4,2,10,8.0,45613.0,11.0,0.0,Pad Thai,38.0,1.0,12.6,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
95,738281,2,prior,4,2,10,8.0,9681.0,12.0,0.0,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Most_orders,14
96,738281,2,prior,4,2,10,8.0,21150.0,13.0,0.0,Fire Grilled Steak Bowl,38.0,1.0,5.9,both,Mid-range product,Regularly busy,Regularly busy,Most_orders,14
97,1673511,2,prior,5,3,11,8.0,47144.0,1.0,0.0,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,14
98,1673511,2,prior,5,3,11,8.0,5322.0,2.0,0.0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14
99,1673511,2,prior,5,3,11,8.0,17224.0,3.0,0.0,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14
100,1673511,2,prior,5,3,11,8.0,38656.0,4.0,0.0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,14

# Question 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### Answer:  Analysis has been done above. When comparing with a subset which was doen in the exercise the mean value is really close, with the smaller subset having a slightly higher mean of 15,562 and the entire data frame had a 15,457 value.

# Question 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [15]:
#Creating loyalty flags for customers

orders_prods_merge.loc[orders_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
orders_prods_merge.loc[(orders_prods_merge['max_order'] <= 40) & (orders_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
orders_prods_merge.loc[orders_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# showing loyalty counts

orders_prods_merge['loyalty_flag'].value_counts (dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
orde_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
60        2  Regular customer             1

# Question 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [17]:
#Grouping the loyalty status via price spent 

orders_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Answer:  The question asked by the marketing team - new customers are spending the most on average, whereas loyal customers are spending less on products. Regular customers are spending more towards the same as new customers.

# Question 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [18]:
#Grouping user_id with price spent 

orders_prods_merge.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head()

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8

In [20]:
# Using transform for a new column

orders_prods_merge['spending'] = orders_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [25]:
# Create a low / higher spending flag

orders_prods_merge.loc[orders_prods_merge['spending'] > 10, 'spending_flag'] = 'Low spender'
orders_prods_merge.loc[orders_prods_merge['spending'] <= 10, 'spending_flag'] = 'Higher Spender'

In [26]:
orders_prods_merge[['user_id', 'spending_flag', 'spending']].head(20)

    user_id spending_flag  spending
0         1   Low spender      14.0
1         1   Low spender      14.0
2         1   Low spender      14.0
3         1   Low spender      14.0
4         1   Low spender      14.0
5         1   Low spender      14.0
6         1   Low spender      14.0
7         1   Low spender      14.0
8         1   Low spender      14.0
9         1   Low spender      14.0
10        1   Low spender      14.0
11        1   Low spender      14.0
12        1   Low spender      14.0
13        1   Low spender      14.0
14        1   Low spender      14.0
15        1   Low spender      14.0
16        1   Low spender      14.0
17        1   Low spender      14.0
18        1   Low spender      14.0
19        1   Low spender      14.0

# Question 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [27]:
orders_prods_merge['frequency'] = orders_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [28]:
orders_prods_merge.loc[orders_prods_merge['frequency'] > 20, 'frequency_flag'] = 'Non frequent customer'
orders_prods_merge.loc[(orders_prods_merge['frequency'] <= 20) & (orders_prods_merge['frequency'] > 10), 'frequency_flag'] = 'Regular customer'
orders_prods_merge.loc[orders_prods_merge['frequency'] <= 10, 'frequency_flag'] = 'frequent customer'

In [30]:
orders_prods_merge[['user_id', 'frequency_flag', 'frequency']].head(20)

    user_id         frequency_flag  frequency
0         1  Non frequent customer       30.0
1         1  Non frequent customer       30.0
2         1  Non frequent customer       30.0
3         1  Non frequent customer       30.0
4         1  Non frequent customer       30.0
5         1  Non frequent customer       30.0
6         1  Non frequent customer       30.0
7         1  Non frequent customer       30.0
8         1  Non frequent customer       30.0
9         1  Non frequent customer       30.0
10        1  Non frequent customer       30.0
11        1  Non frequent customer       30.0
12        1  Non frequent customer       30.0
13        1  Non frequent customer       30.0
14        1  Non frequent customer       30.0
15        1  Non frequent customer       30.0
16        1  Non frequent customer       30.0
17        1  Non frequent customer       30.0
18        1  Non frequent customer       30.0
19        1  Non frequent customer       30.0

In [31]:
orders_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))